{#
    Listing style: Cards
    Larger cards in 2 columns with prominent images.
#}
{% if articles is defined and articles is iterable and articles|length > 0 %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        {% for article in articles %}
            {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_card.html.twig' with {
                article: article,
                imageRatio: '16/9',
            } only %}
        {% endfor %}
    </div>

    {% include '@ItechWorldSuluTailwindTheme/articles/common/_pagination.html.twig' with {
        currentPage: currentPage|default(1),
        totalPages: totalPages|default(1),
        baseUrl: baseUrl|default(''),
    } only %}
{% else %}
    <p class="text-center text-[var(--color-secondary-500)] py-12">
        {{ 'iw_sulu_tailwind_theme.article.no_articles'|trans }}
    </p>
{% endif %}
