{#
    Event style: Timeline
    Two columns: sidebar left (dates/location/organizer) + main content right.
    Sidebar becomes top section on mobile.
#}
{% extends '@ItechWorldSuluTailwindTheme/articles/common/_article_base.html.twig' %}

{% block article_hero %}
    {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_hero.html.twig' with {
        image: content.heroImage|default(null),
        style: 'contained',
    } only %}
{% endblock %}

{% block article_header %}
    <header class="article-header mb-6">
        {% if articleConfig.showBreadcrumbs|iw_article_visible('page') %}
            {% include '@ItechWorldSuluTailwindTheme/articles/common/_breadcrumbs.html.twig' with {
                items: breadcrumb|default([]),
            } only %}
        {% endif %}

        {% if articleConfig.showCategories|iw_article_visible('page') %}
            {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_categories.html.twig' with {
                categories: content.excerptCategories|default([]),
            } only %}
        {% endif %}

        <h1 class="font-[var(--font-family-heading)] text-[var(--font-size-h1)] font-[var(--font-h1-weight)] leading-[var(--line-height-h1)] mt-3 mb-4" itemprop="headline">
            {{ content.title }}
        </h1>
    </header>
{% endblock %}

{% block article_meta %}{% endblock %}

{% block article_content %}
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-8">
        {# Sidebar: event details #}
        <aside class="md:col-span-1">
            <div class="md:sticky md:top-24 space-y-6">
                {% include '@ItechWorldSuluTailwindTheme/articles/common/_event_info_card.html.twig' with {
                    startDate: content.startDate|default(null),
                    endDate: content.endDate|default(null),
                    isOnline: content.isOnline|default(false),
                    location: content.location|default(''),
                    locationUrl: content.locationUrl|default(''),
                    organizer: content.organizer|default([]),
                } only %}
            </div>
        </aside>

        {# Main content #}
        <div class="md:col-span-3">
            {% if content.blocks is defined and content.blocks is iterable %}
                {% for contentBlock in content.blocks %}
                    {% set blockType = contentBlock.type|default('text') %}
                    {% set blockStyle = contentBlock.style|default('') %}
                    {% set defaultStyles = {'text': 'one_column', 'text_images': 'classic', 'gallery': 'grid', 'cta': 'centered', 'document': 'default', 'separator': 'default', 'location': 'default'} %}
                    {% if blockStyle is empty %}
                        {% set blockStyle = defaultStyles[blockType]|default('default') %}
                    {% endif %}
                    {% set templatePath = '@ItechWorldSuluTailwindTheme/blocks/' ~ blockType ~ '/_style_' ~ blockStyle ~ '.html.twig' %}
                    {% set fallbackPath = '@ItechWorldSuluTailwindTheme/blocks/' ~ blockType ~ '/_style_' ~ defaultStyles[blockType]|default('default') ~ '.html.twig' %}
                    {% include [templatePath, fallbackPath] ignore missing with contentBlock %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block article_footer %}
    <footer class="article-footer mt-10 pt-6 border-t border-[var(--color-border)]">
        {% include '@ItechWorldSuluTailwindTheme/articles/common/_article_tags.html.twig' with {
            tags: content.excerptTags|default([]),
        } only %}
    </footer>
{% endblock %}
